@import "_variables.css";

.accordion {
  margin: 64px 0px 128px 0px;

  & .card {
    & .card-header {
      position: relative;
      padding: 0px;

      & a {
        color: var(--color-blue-bayoux);
        display: block;
        font-weight: normal;
        text-decoration: none;
        text-transform: none; /* TODO: Sort this out with card-header to not have to undo this */
        
        padding: 36px 24px 36px 60px;
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;

        & strong {
          text-transform: uppercase;
        }
      }

      & a.collapsed {
        color: var(--color-blue-bayoux);      
      }

      & a.collapsed:hover {
        color: var(--color-orange-peel);
      }
    }


    & .card-header a::before {
      display:block;
      content: "\e914";
      font-family: 'icomoon' !important;
      width:0;
      position:absolute;
      top: 40px;  
      left: 20px;
      font-size: 1rem;
    }

    & .card-header a.collapsed::before {
      content: "\e916";
      font-size: 1.8rem;
      left: 26px;
      top: 32px;
    }

    & .card-block {
      padding: 36px 24px;
      font-size: 1.25rem;
    }
  }
}