@import "_variables.css";

:root {
  --chevron-size: 0.8rem;
}

/* TODO: Refactor chevron out of accordion if used again */

.accordion {
  margin: 64px 0px 128px 0px;

  & .card {
    & .card-header {
      position: relative;
      padding: 0px;

      & .chevron {
        position: absolute;
        top: 44px;
        left: 36px;
        display: block;

        width: var(--chevron-size);
        height: var(--chevron-size);
        color: transparent;
      }

      & .chevron::before {
        display:block;
        content:"";
        width:0;
        height:0em;
        border-style:solid;
        position:absolute;
      }
      
      & .chevron::after {
        display:block;
        content:"";
        width:0;
        height:0em;
        border-style:solid;
        position:absolute;
      }

      & .chevron::before {
        right:0;
        content:"";
        border-width: var(--chevron-size) var(--chevron-size) 0 var(--chevron-size);
        border-color: var(--color-blue-bayoux) transparent transparent transparent;
      }

      & .chevron::after {
        content:"";
        left: -0.8rem;
        border-width: var(--chevron-size) var(--chevron-size) 0rem var(--chevron-size);
        border-color: var(--color-concrete) transparent transparent transparent;
        top: -0.2rem;
      }


      & a {
        color: var(--color-blue-bayoux);
        display: block;
        font-weight: normal;
        text-decoration: none;
        text-transform: none; /* TODO: Sort this out with card-header to not have to undo this */
        
        padding: 36px 24px 36px 60px;
        position: relative;
        left: 0px;
        right: 0px;
        top: 0px;

        & strong {
          text-transform: uppercase;
        }
      }

      & a.collapsed {
        color: var(--color-blue-bayoux);

        & .chevron {
          top: 38px;
          left: 30px;
        }

        & .chevron::before {
          border-width: var(--chevron-size) 0 var(--chevron-size) var(--chevron-size);
          border-color:transparent transparent transparent var(--color-blue-bayoux);    
        }

        & .chevron::after {
          left: -0.15rem;
          top: 0px;
          border-width: var(--chevron-size) 0 var(--chevron-size) var(--chevron-size);
          border-color:transparent transparent transparent var(--color-concrete);    
        }        
      }

      & a.collapsed:hover {
        color: var(--color-orange-peel);
      }
    }

    & .card-block {
      padding: 36px 24px;
      font-size: 1.25rem;
    }
  }
}