@import "_variables.css";

.navbar-scrolled {
  background-color: var(--color-orange-peel);
  margin-top: 0px !important;
}

.navbar-light {
  transition: all .25s ease;
  color: var(--color-white);

  margin-bottom: 84px;
  margin-top: 48px;
  @media (--viewport-md) {
    margin-top: 8px;
  }

  & .navbar-brand {
    background-image: url("/images/logo_mark_responsive_white.svg");
    height: 44px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 102%;
    background-position: 0px -24px;

    @media (--viewport-md) {
      background-size: 102%;
      background-position: 0px -30px;
    }
  }

  & .navbar-collapse {
    @media (--viewport-md) {
      margin-top: 16px;
    }
  }

  & .navbar-nav {

    /* Collapsed nav has a white background */
    @media (--viewport-md) {
      background-color: white;
      padding: 24px 16px;
    }

    & .nav-item {
      /* Basic nav-links */
      & .nav-link {
        font-weight: normal;
        text-transform: uppercase;
        font-size: 1.125rem;
        color: var(--color-blue-bayoux);

        @media (--viewport-md-up) {
          opacity: 0.7;
          color: var(--color-white);
          font-weight: lighter;
          padding: 0px 10px;
        }
      }
    }

    & .nav-item.active {
      & .nav-link {
        font-weight: bold;
        opacity: 1;
      }
    }

    & .nav-item-callout {
      margin-left: 36px;

      @media (--viewport-md) {
        margin-left: -16px;
        margin-right: -16px;
        margin-bottom: -24px;
        margin-top: 12px;
      }

      & .btn {
        font-size: 1rem;
        font-weight: normal;
        margin-top: -6px;
        padding: 10px 14px;
        opacity: 1;

        @media (--viewport-md) {
          background-color: var(--color-concrete);
          padding: 12px;
          border-radius: 0px;
        }
      }

      & .btn-secondary.nav-link {
        color: var(--color-flamingo);
      }

      & .btn-secondary.nav-link:hover {
        background-color: var(--color-white);
        color: var(--color-flamingo);
      }

    }

  } /* .navbar-nav */

} /* .navbar-light */