@import "_variables.css";

.paper {
  box-shadow: var(--standard-box-shadow);
  background-color:var(--color-white);
  padding: 24px 48px;

  & h3 {
    color: var(--color-flamingo);
  }

  & p, & li {
    font-size: 1rem;
  }

  & ul, & ol {
    padding-left: 16px;
    & li {
      margin-bottom: 8px;
    }
  }
}