@import "./_variables";

/* Overrides for the Slick Carousel */
@font-face
{
  font-family: 'slick';
  font-weight: normal;
  font-style: normal; 
}

.slick-dots li.slick-active button:before {
  color: var(--color-white);
}

.slick-dots li button:before {
  color: var(--color-white-transparent-30);
  opacity: 1.0
}