@import "./_variables";

@font-face {
    font-family: "CircularStd";
    font-weight: bold;
    src: url('fonts/CircularStd-Bold.ttf') format("truetype");
}

@font-face {
    font-family: "CircularStd";
    font-weight: normal;
    src: url('fonts/CircularStd-Medium.ttf') format("truetype");
}

@font-face {
    font-family: "CircularStd";
    font-weight: lighter;
    src: url('fonts/CircularStd-Book.ttf') format("truetype");
}

body {
  font-family: 'CircularStd', sans-serif;
  color: var(--color-white);

  /* Text Legibility */
  text-rendering: optimizelegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

h1, h2 {
  /*font-weight: normal;*/
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  margin-top: 1.75em;
  margin-bottom: 2.6rem;
  line-height: 1.4;
  font-size: 2.2rem;
  text-align: center;
}

h3 {
  margin-top: 1.75em;
  margin-bottom: 1.5rem;
  line-height: 1.4;
  font-size: 1.5rem;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}

p, li {
  line-height: var(--font-size-p) + 0.2rem;;
  font-weight: lighter;
  font-size:  var(--font-size-p);
}

a {
  color: var(--color-white);
  
  &:hover, &:active, &:focus {
    color: var(--color-white);
  }
}

.paper {
  color: var(--color-blue-bayoux);

  & a {
    color: var(--color-blue-bayoux);
    text-decoration: underline;
    
    &:hover, &:active, &:focus {
      color: var(--color-blue-bayoux);
    }
  }
}