
@import "bootstrap-v4-dev/dist/css/bootstrap.min.css";

@import "_variables.css";
@import "_type";

@import "_buttons";
@import "_navbar";

@import "components/_testimonial_carousel";

/* type */


body {
  background-color: var(--color-teal);

  display: flex;
  min-height: 100vh;          /* Make sure atleast a full display so footer sticks to bottom */
  flex-direction: column;
}

.site-content {
  flex: 1 0 auto;             /* Site content takes entire view, does not include footer */
  position: relative;         /* Used to aboslutely position stripe inside to take exactly the full view height */
  padding-bottom: 120px;
}

.footer {
  width: 100%;
  padding: 48px;
  color: var(--color-white);
  background-color: var(--color-dark-blue);
}

.footer-container {
  display: flex;
  flex-direction: row;

  @media (--viewport-sm) {
    flex-direction: column;
  }

  & .footer-col {
    flex: 1;

    & .title {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    & ul {
      padding: 0px;

      & li {
        list-style-type: none;
        font-size: 0.8rem;
      }
    }
  }
}

/*
  TODO: I have no idea what I'm doing...
  https://stripe.com/blog/connect-front-end-experience
*/
.stripe-background-container {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1000;
}

.stripe-background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid: repeat(3, 700px) / repeat(10, 1fr);
  transform: skewY(-12deg);
  transform-origin: 0;
}

.stripe-background :nth-child(1) {
  grid-column: span 10;
  background: linear-gradient(90deg, var(--color-light-orange), var(--color-medium-orange));
}

.stripe-background :nth-child(2) {
  grid-column: span 10;
  background: linear-gradient(90deg, var(--color-teal-light), var(--color-teal));
}

.stripe-background :nth-child(3) {
  grid-column: span 10;
  background: linear-gradient(90deg, var(--color-teal), var(--color-teal-light));
}