
@import "bootstrap-v4-dev/dist/css/bootstrap.min.css";

@import "_variables.css";
@import "_type";

@import "_buttons";
@import "_navbar";
@import "_card";

@import "components/_customers_card";
@import "components/_testimonial_carousel";
@import "components/_demo_cta";
@import "components/_tour";
@import "components/_video_embed";

/* type */


body {
  background-color: var(--color-blue-lagoon);  

  display: flex;
  min-height: 100vh;          /* Make sure atleast a full display so footer sticks to bottom */
  flex-direction: column;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .legacy-browser-fold-gradient {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: linear-gradient(var(--color-orange-peel) 0px, var(--color-christine) 100%);
  }
}



.site-content {
  flex: 1 0 auto;             /* Site content takes entire view, does not include footer */
  position: relative;         /* Used to aboslutely position stripe inside to take exactly the full view height */
  padding-bottom: 120px;
}

.footer {
  width: 100%;
  padding: 48px;
  color: var(--color-white);
  background-color: var(--color-blue-bayoux);
}

.footer-container {
  display: flex;

  flex-direction: row;
  @media (--viewport-sm) {
    flex-direction: column;
  }

  & .footer-col {
    flex: 1;

    & .title {
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    & ul {
      padding: 0px;

      & li {
        list-style-type: none;
        font-size: 0.8rem;
      }
    }
  }
}

/*
  TODO: I have no idea what I'm doing...
  https://stripe.com/blog/connect-front-end-experience
*/
.stripe-background-container {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1000;
}

.stripe-background {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  display: grid;
  grid: repeat(3, 700px) / repeat(10, 1fr);
  transform: skewY(-12deg);
  transform-origin: 0;
}

.stripe-background :nth-child(1) {
  grid-column: span 10;
  background: linear-gradient(90deg, var(--color-orange-peel), var(--color-christine));
}

.stripe-background :nth-child(2) {
  grid-column: span 10;
  background: linear-gradient(90deg, var(--color-pine-green), var(--color-keppel));
}

.customer {
  @media (--viewport-xs) {
    margin: 0px -16px;
  }

  padding: 64px 24px;
  background-color: white;
  color: var(--color-blue-bayoux);
  box-shadow: 0px 0px 12px var(--color-box-shadow);

  & ul {
    margin-bottom: 24px;

    & li {
      font-size: 1.25rem;
      margin-bottom: 20px;
    }
  }

  & .customers-quote {
    margin: 60px -64px 48px -64px;
    padding: 48px 64px;
    @media (--viewport-xs) {
      margin: 60px -24px 48px -24px;
      padding: 48px 24px;
    }

    box-shadow: 0px 0px 12px var(--color-box-shadow);

    background-color: white;

    & h2 {
      margin: 0px 0px 24px 0px;
      text-align: left;
      @media (--viewport-xs) {
        text-align: center;
      }
    }

    & p {
      font-size: 1rem;
      font-weight: 400;

      @media (--viewport-xs) {
        text-align: center;
      }
    }

    & .attribution {
      position: relative;
      padding-left: 80px;
      height: 72px;

      @media (--viewport-xs) {
        padding-left: 0px;
        height: inherit;
      }
    }

    & .photo {
      position: absolute;

      left: 0px;
      width: 72px;
      height: 72px;
      background-repeat: no-repeat;
      background-size: 100%;

      @media (--viewport-xs) {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
      }
    }

    & .details {
      position: absolute;
      padding-left: 8px;
      font-size: 0.75rem;
      bottom: 0px;
      line-height: 1.25rem;

      @media (--viewport-xs) {
        position: relative;
        padding-left: 0px;
        text-align: center;
      }
    }
  }

  & .logos {
    display: flex;
    flex-direction: row;
    & .logo {
      flex: 1;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
    }
  }
}