
@import "bootstrap-v4-dev/dist/css/bootstrap.min.css";

@import "_variables.css";
@import "_type";

@import "_buttons";
@import "_dropdown";

body {
  background-color: transparent !important;
}

.submit {
  margin: 48px 0px;
}

/* Reduce the size of the state field */
.state.pd-select {
  width: 200px;
}