<footer class='footer'>
  <div class='container'>
    <div class='footer-container'>
      {{ range .Site.Menus.footer }}
        <div class='footer-col'>
          <div class='title'>{{ .Name }}</div>
          {{ if .HasChildren }}
            <ul>
              {{ range .Children }}
                <li>
                  <a href='{{ .URL }}'>{{ .Pre }} {{ .Name }}</a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
</footer>
