{{ $isHomePage := eq .Title .Site.Title }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no">
    <title>{{ replace .Title "-" " " | title }} {{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
  </head>
