{{ $currentPage := .page }}


  <nav class="navbar fixed-top navbar-light navbar-toggleable-md">
    <div class="container">
    <a class="navbar-brand" href="/"></a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-text">MENU</span>
    </button>

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="navbar-nav mr-auto hidden-md-down"></ul> <!-- Fill space to move nav links to the right -->

      <ul class="nav navbar-nav">
        {{ range .menu }}
          <li class="nav-item {{ if in $currentPage.URL .URL   }}active{{end}}">
            <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
          </li>
        {{ end }}
        <li class="nav-item">
          <a class="nav-link" href="https://app.workbright.com">Sign In</a>
        </li>
        <li class="nav-item nav-item-callout"><a class="nav-link btn btn-secondary" href="/request-a-demo">Get Started</a></li>
      </ul>
    </div>
    </div>
  </nav>

