<h3>{{ with .Get "title"}}{{ . }}{{else}}About the Author{{end}}</h3>

<img src="/images/landing/circle-dave.png" align="left" width="128px" class="image-aligned-left" />

<p>Dave Secunda, Co-Founder and CEO of WorkBright, is a passionate entrepreneur and HR enthusiast who has been selected to serve on numerous boards and host speaking engagements across the country for his expertise and forward-thinking perspective on the changing face of the HR industry. He started WorkBright after experiencing first-hand the pain of onboarding hundreds of employees in a short time at his previous venture, Avid4 Adventure which runs day &amp; resident camps in the Boulder area and beyond.</p>

<p>He received the Jim Rennee Outdoor Industry Leadership Award, has served as the Director of Outdoor Education at CU and was the President of the Outdoor Industry Association. He served on the boards of Leave No Trace, the American Hiking Society, the Student Conservation Association, ACA RMS &amp; the Entrepreneurs’ Organization.</p>