<div class='image-carousel'>
  <div class='slick-carousel'>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-analytics.gif"><img src="/images/ats/ats-analytics.gif"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-apply-with-linkedin.jpg"><img src="/images/ats/ats-apply-with-linkedin.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-automated-job-alerts.jpg"><img src="/images/ats/ats-automated-job-alerts.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-career-site-mobile.jpg"><img src="/images/ats/ats-career-site-mobile.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-career-site.jpg"><img src="/images/ats/ats-career-site.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-eeo-reporting.jpg"><img src="/images/ats/ats-eeo-reporting.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-email-templates.jpg"><img src="/images/ats/ats-email-templates.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-multiple-career-sites.gif"><img src="/images/ats/ats-multiple-career-sites.gif"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-post-to-job-boards.gif"><img src="/images/ats/ats-post-to-job-boards.gif"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-push-to-free-job-boards.jpg"><img src="/images/ats/ats-push-to-free-job-boards.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-reports.jpg"><img src="/images/ats/ats-reports.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-save-job-template.jpg"><img src="/images/ats/ats-save-job-template.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-track-applicants.jpg"><img src="/images/ats/ats-track-applicants.jpg"></a></div>
    <div class='slide'><a href="#" data-featherlight="/images/ats/ats-traffic.jpg"><img src="/images/ats/ats-traffic.jpg"></a></div>
  </div>
</div>