<div class='info-tabs'>
  <div class='row'>
    <div class='col-sm-4'>
      <div class='tab-container' style=''>
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#advertise-push" role="tab">Advertise</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#online-application" role="tab">Online Application</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#automated-screening" role="tab">Automated Screening</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#unlimited-users" role="tab">Unlimited Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#communication-tools" role="tab">Communication Tools</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#onboard" role="tab">Onboard</a>
          </li>
        </ul>
      </div>
    </div>
    <div class='col-sm-8'>
      <div class="tab-content">
        <div class="tab-pane active" id="advertise-push" role="tabpanel">
          <h2>Push your open positions to over 500 job boards in a single click!</h2>
          <p>
            Push open positions to social media, state workforce sites, free and paid job boards and more! We can even help your employees share your job postings and pay out incentives!
          </p>
          <div class='bottom-icon icon-megaphone'></div>
        </div>
        <div class="tab-pane" id="online-application" role="tabpanel">
          <h2>Branded career pages for candidates to apply to open positions!</h2>
          <p>
            68% of job seekers use their mobile devices to search for jobs. Receive a branded, mobile responsive website that allows candidates to apply from any web device!
          </p>
          <div class='bottom-icon icon-offer-letter'></div>
        </div>
        <div class="tab-pane" id="automated-screening" role="tabpanel">
          <h2>Specify custom criteria for automatic candidate scoring!</h2>
          <p>
            WorkBright ATS makes it easy for the cream of the crop to rise to the top with pre-specified, automated screening questions. Only candidates that pass your questions are passed along for review!
          </p>
          <div class='bottom-icon icon-checkbox'></div>
        </div>
        <div class="tab-pane" id="unlimited-users" role="tabpanel">
          <h2>Give every manager a unique login to share candidate information!</h2>
          <p>
            Collaboration is key to hiring great candidates. We don't charge for the number of users so you can invite your whole team in on the process! Managers can even leave notes on their interview experience making group hiring a breeze.
          </p>
          <div class='bottom-icon icon-workers'></div>
        </div>
        <div class="tab-pane" id="communication-tools" role="tabpanel">
          <h2>Automatically send confirmation, rejection, job alerts and more!</h2>
          <p>
            On top of facilitating all regular communications with candidates, we also allow job seekers to sign up for job alerts on your career page so they are notified automatically of new open positions!
          </p>
          <div class='bottom-icon icon-receive-email'></div>
        </div>
        <div class="tab-pane" id="onboard" role="tabpanel">
          <h2>Once you've hired start onboarding with one click!</h2>
          <p>
            Integration to WorkBright digital onboarding allows you to send offer letters, select groups, and start the onboarding process the second you have selected your perfect candidate!
          </p>
          <div class='bottom-icon icon-wizard'></div>
        </div>
      </div>
    </div>
  </div>
</div>