<div class='image-carousel'>
  <div class='slick-carousel'>
    <div class='slide'><img src="/images/ats/ats-analytics.gif"></div>
    <div class='slide'><img src="/images/ats/ats-apply-with-linkedin.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-automated-job-alerts.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-career-site-mobile.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-career-site.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-eeo-reporting.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-email-templates.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-multiple-career-sites.gif"></div>
    <div class='slide'><img src="/images/ats/ats-post-to-job-boards.gif"></div>
    <div class='slide'><img src="/images/ats/ats-push-to-free-job-boards.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-reports.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-save-job-template.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-track-applicants.jpg"></div>
    <div class='slide'><img src="/images/ats/ats-traffic.jpg"></div>
  </div>
</div>