<div class='card case-study-card'>
  <div class='card-block'>
    <h2 class='text-md-left text-center'>{{ .Get "title" }}</h2>
    <p>
      {{ .Inner }}
    </p>
    <div class='row'>
      <div class='col-sm-9 text-md-left text-center'>
        {{ with .Get "download_url" }}
          <a class='case-study-link' href='{{ . }}'>Read Full Case Study</a>
        {{ end }}
      </div>
      <div class='col-sm-3 text-md-right text-center'>
        <img src="/images/{{ .Get "image_src" }}" />
      </div>
    </div>
  </div>
</div>