<div class="card customers-card">
  <div class="card-header">
    By Industry
  </div>
  <div class="card-block">
    <div class='row'>
      <div class='col-md-12'>
        <div class='row'>
          {{ range .Site.Menus.customers }}
            <div class='col-md-6 menu-item'>
              <a href='{{ .URL }}'>{{ .Name }}</a>
            </div>
          {{ end }}

          <div class='col-md-6 menu-item'><a href='#'>Healthcare</a></div>
          <div class='col-md-6 menu-item'><a href='#'>1099 Workforce</a></div>
          <div class='col-md-6 menu-item'><a href='#'>HTRM</a></div>
          <div class='col-md-6 menu-item'><a href='#'>Government</a></div>
          <div class='col-md-6 menu-item'><a href='#'>Education</a></div>
          <div class='col-md-6 menu-item'><a href='#'>Staffing</a></div>
          <div class='col-md-6 menu-item'><a href='#'>Gig Economy</a></div>
          <div class='col-md-6 menu-item'><a href='#'>Logistics</a></div>
          <div class='col-md-6 menu-item'><a href='#'>Other</a></div>

        </div>
      </div>
    </div>
  </div>
</div>