<div class="card customers-card">
  <div class="card-header">
    By Industry
  </div>
  <div class="card-block">
    <div class='row'>
      <div class='col-md-12'>
        <div class='row'>
          {{ range .Site.Menus.customers }}
            <div class='col-md-6 menu-item'>
              <a href='{{ .URL }}'><i class="{{ .Pre }}"></i>&nbsp;{{ .Name }}</a>
            </div>
          {{ end }}


          <div class='col-md-6 menu-item'><a href='#'><i class='icon-medical'></i>&nbsp;Healthcare</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-1099'></i>&nbsp;1099 Workforce</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-hrtm'></i>&nbsp;HTRM</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-government'></i>&nbsp;Government</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-education'></i>&nbsp;Education</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-staffing'></i>&nbsp;Staffing</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-gig_economy'></i>&nbsp;Gig Economy</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-logistics'></i>&nbsp;Logistics</a></div>
          <div class='col-md-6 menu-item'><a href='#'><i class='icon-other'></i>&nbsp;Other</a></div>

        </div>
      </div>
    </div>
  </div>
</div>