<div class='card logos-card'>
  <div class='card-block'>
    <h2>Hundreds of companies trust us every day</h2>
    <div class='logo-grid'>
      <div class='row'>
        <div class='col-md-3 col-6'><img src="/images/customers/camp_avid.jpg"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/camp_culver.gif"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/healthcare_goldleaf.png" style='margin-top: 32px'></div>
        <div class='col-md-3 col-6'><img src="/images/customers/government_san_ramon.png"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/camp_bsa.png"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/gig_lasso.png"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/healthcare_childrens.jpg"  style='margin-top: 18px'></div>
        <div class='col-md-3 col-6'><img src="/images/customers/staffing_usa_management.png"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/gig_shiftgig.png"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/logistics_hogan.jpg"></div>
        <div class='col-md-3 col-6'><img src="/images/customers/other_la_chargers.png"  style='margin-top: -12px'></div>
      </div>
    </div>
  </div>
</div>