<div class='card logos-card'>
  <div class='card-block'>
    <h2>Hundreds of companies trust us every day</h2>
    <div class='logo-grid'>
      <div class='row'>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/camp-avid.jpg"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/camp-culver.gif"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/healthcare-goldleaf.png" style='margin-top: 32px'></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/government-san-ramon.png"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/camp-bsa.png"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/gig-lasso.png"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/healthcare-childrens.jpg"  style='margin-top: 18px'></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/staffing-usa-management.png"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/gig-shiftgig.png"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/logistics-hogan.jpg"></div>
        <div class='col-md-3 col-6'><img width='100%' src="/images/customers/other-la-chargers.png"  style='margin-top: -12px'></div>
      </div>
    </div>

    <div class='text-center'>
      <a href='/customers'>Learn more about WorkBright customers.</a>
    </div>
  </div>
</div>