<div id="accordion" role="tablist" aria-multiselectable="true" class='accordion'>
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span class='chevron'></span>
        <strong>Speed</strong> collection of employees forms and certifications
      </a>
    </div>
    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
      <div class="card-block">
        Automated email reminders increase in intensity as the new hire start date approaches so employees come in on Day 1 with all new hire paperwork already completed! Employees can even use their smart device camera to take a photo of certifications and upload directly to you!
        <img src="/images/video-background-desktop.png" width=100% style='padding: 24px 64px;'/>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" class='collapsed'>
        <span class='chevron'></span>
        <strong>Increase</strong> accuracy in employee files 
      </a>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="card-block">
        Field validation throughout the WorkBright platform ensures your files are already cleaner when they are submitted. If an error creeps through, you can easily reject the form and fire off an automatic notification to the employee to correct the error!
        <img src="/images/video-background-desktop.png" width=100% style='padding: 24px 64px;'/>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class='collapsed'>
        <span class='chevron'></span>
        <strong>Reduce</strong> the number of HR personnel you need for onboarding
      </a>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="card-block">
        No need to staff up for mass hiring events or heavy onboarding periods! WorkBright allows you to upload employee information and deliver customized, digital paperwork in bulk to all new employees with the click of a few buttons. Reducing the time to onboard by up to 8x!
        <img src="/images/video-background-desktop.png" width=100% style='padding: 24px 64px;'/>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingFour">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour" class='collapsed'>
        <span class='chevron'></span>
        <strong>Gain</strong> visibility &amp; confidence in the compliance of your I-9s &amp; HR files
      </a>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="card-block">
        With best-in-class security, automated field validation, document correction workflows and easily reportable employee information you can rest easy knowing your employee files are ready for a regulatory audit at any moment. No more checklists and filing cabinets!
        <img src="/images/video-background-desktop.png" width=100% style='padding: 24px 64px;'/>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" role="tab" id="headingFive">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive" class='collapsed'>
        <span class='chevron'></span>
        <strong>Reclaim</strong> your email inbox from employee clutter
      </a>
    </div>
    <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive">
      <div class="card-block">
        Managing employee communications and forms via your email inbox (or even worse, the physical mail) is a security and organizational nightmare! Move all employee onboarding processes into WorkBright where a secure audit trail tracks every interaction. 
        <img src="/images/video-background-desktop.png" width=100% style='padding: 24px 64px;'/>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" role="tab" id="headingSix">
      <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="true" aria-controls="collapseSix" class='collapsed'>
        <span class='chevron'></span>
        <strong>Happiness</strong> because you have a partner that knows YOUR workforce
      </a>
    </div>
    <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix">
      <div class="card-block">
        Today’s workforce is changing and you may not look like the traditional employer of past decades. Our flexible solution works for full time, part time, seasonal, temp and on demand employees! Plus, our mobile-first technology enables employees to complete forms from any smart device. 
        <img src="/images/video-background-desktop.png" width=100% style='padding: 24px 64px;'/>
      </div>
    </div>
  </div>

</div>