.customer {
  margin-bottom: 128px;
  padding: 64px 24px;
  background-color: white;
  color: var(--color-blue-bayoux);
  box-shadow: 0px 0px 12px var(--color-box-shadow);

  @media (--viewport-xs) {
    margin: 0px -16px 128px -16px;
  }


  & .benefit {
    margin-bottom: 24px;
    padding: 24px;

    @media(--viewport-sm) {
      border-bottom: 1px solid var(--color-silver-chalice);
    }

    & .title {
      float: left;
      position: relative;
      display: inline-block;

      width: 50%;
      @media(--viewport-sm) {
        width: 100%;
      }

      font-weight: bold;
      font-size: 1.25rem;
      margin-bottom: 16px;
    }

    & .title:before {
      position: absolute;
      content: '';
      left: -48px;
      width: 12px;
      top: 0px;
      height: 100%;
    }

    & p {
      width: 50%;
      @media(--viewport-sm) {
        width: 100%;
      }
      display: inline-block;
      float: left;
    }
    & img {
      width: 50%;
      box-shadow: var(--standard-box-shadow);
      @media(--viewport-sm) {
        width: 100%;
      }
      display: inline-block;
      float: right;
      margin-right: -96px;
      border-radius: 16px;
      @media(--viewport-sm) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

      }
    }
  }

  & .benefit:nth-of-type(1) {
    & .title:before {
      background-color: var(--color-orange-peel);
    }
  }
  & .benefit:nth-of-type(2) {
    & .title:before {
      background-color: var(--color-christine);
    }
  }
  & .benefit:nth-of-type(3) {
    & .title:before {
      background-color: var(--color-orange-roughy);
    }
  }
  
  & .benefit:nth-of-type(even) {
    & .title {
      float: right;
    }

    @media(--viewport-md-up) {
      & .title:before {
        right: -48px;
        left: auto;
      }
    }

    & p {
      float: right;
    }
    & img {
      float: left;
      margin-left: -96px;
      margin-right: auto;
      @media(--viewport-sm) {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  }


  & .customers-quote {
    margin: 60px -64px 48px -64px;
    padding: 48px 64px;
    @media (--viewport-xs) {
      margin: 60px -24px 48px -24px;
      padding: 48px 24px;
    }

    box-shadow: 0px 0px 12px var(--color-box-shadow);

    background-color: white;

    & h2 {
      margin: 0px 0px 24px 0px;
      text-align: left;
      @media (--viewport-xs) {
        text-align: center;
      }
    }

    & p {
      font-size: 1rem;
      font-weight: 400;

      @media (--viewport-xs) {
        text-align: center;
      }
    }

    & .attribution {
      position: relative;
      padding-left: 80px;
      height: 72px;

      @media (--viewport-xs) {
        padding-left: 0px;
        height: inherit;
      }
    }

    & .photo {
      position: absolute;

      left: 0px;
      width: 72px;
      height: 72px;
      background-repeat: no-repeat;
      background-size: 100%;
      border-radius: 36px;

      @media (--viewport-xs) {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 12px;
      }
    }

    & .details {
      position: absolute;
      padding-left: 8px;
      font-size: 0.75rem;
      bottom: 0px;
      line-height: 1.25rem;

      @media (--viewport-xs) {
        position: relative;
        padding-left: 0px;
        text-align: center;
      }
    }
  }

  & .logos {
    display: flex;
    flex-direction: row;
    & .logo {
      flex: 1;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
    }
  }
}