.customer {
  margin-bottom: 128px;
  padding: 64px 24px;
  background-color: white;
  color: var(--color-blue-bayoux);
  box-shadow: var(--standard-box-shadow);

  @media (--viewport-xs) {
    margin: 0px -16px 128px -16px;
  }


  & .benefit {
    margin-bottom: 24px;
    padding: 24px;

    margin-bottom: 0px; /* TODO: Remove this line when images and copy are written. Refer to entire commit for details. */

    @media(--viewport-sm) {
      border-bottom: 1px solid var(--color-concrete);
    }

    & .title {
      float: left;
      position: relative;
      display: inline-block;

      width: 50%;

      /* TODO: Remove down when images and copy are written. Refer to entire commit for details. */
      /* vvv */
      width: 100%; 
      /* ^^^ Remove up from here ^^^ */

      @media(--viewport-sm) {
        width: 100%;
      }

      font-size: 1.65rem;
      margin-bottom: 16px;
    }

    & .title:before {
      position: absolute;
      content: '';
      left: -48px;
      width: 12px;
      top: 0px;
      height: 100%;
    }

    & p {
      display: none !important; /* TODO: Remove this line when images are selected. Refer to entire commit for details. */

      width: 50%;
      @media(--viewport-sm) {
        width: 100%;
      }
      display: inline-block;
      float: left;
    }
    & img {
      display: none !important; /* TODO: Remove this line when images are selected. Refer to entire commit for details. */

      width: 50%;
      box-shadow: var(--standard-box-shadow);
      @media(--viewport-sm) {
        width: 100%;
      }
      display: inline-block;
      float: right;
      margin-right: -96px;
      border-radius: var(--border-radius);
      @media(--viewport-sm) {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;

      }
    }
  }

  & .benefit:nth-of-type(1) {
    & .title:before {
      background-color: var(--color-orange-peel);
    }
  }
  & .benefit:nth-of-type(2) {
    & .title:before {
      background-color: var(--color-christine);
    }
  }
  & .benefit:nth-of-type(3) {
    & .title:before {
      background-color: var(--color-orange-roughy);
    }
  }
  
  /* TODO: Uncomment this section when images and text are written. Refer to entire commit for details. */
  /* & .benefit:nth-of-type(even) {
    & .title {
      float: right;
    }

    @media(--viewport-md-up) {
      & .title:before {
        right: -48px;
        left: auto;
      }
    }

    & p {
      float: right;
    }
    & img {
      float: left;
      margin-left: -96px;
      margin-right: auto;
      @media(--viewport-sm) {
        margin-left: 0px;
        margin-right: 0px;
      }
    }
  } */

  & .logos {
    display: flex;
    flex-direction: row;
    & .logo {
      flex: 1;
      height: 100px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50%;
    }
  }
}