@import "../_variables.css";

:root {
  --icon-width: 64px;
}

.customers-card {
  box-shadow: var(--standard-box-shadow);
  
  & .card-block {

    @media(--viewport-md-up) {
      padding: 24px 120px;
    }

    & .menu-item {
      margin-bottom: 0.5rem;

      & a {
        font-size: 1.5rem;
        padding-left: var(--icon-width);
        display: block;
        position: relative;

        & i {
          position: absolute;
          left: 0px;
          height: 100%;
          top: 6px;
          display: inline-block;
          width: var(--icon-width); 
          text-align: center;
        }
      }
    }
  }
}