.demo-cta {
  text-align: center;
  padding: 48px 0px;
  background: linear-gradient(90deg, transparent, var(--color-pine-green), transparent);

  & .title {
    font-weight: normal;
    font-size: 1.2rem;
    margin-right: 64px;

    @media (--viewport-md) {
      display: block;
      text-align: center;
      margin: 0px 0px 24px 0px;
    }
  }

  & .btn {
    margin-top: -4px;
  }
}

.demo-cta.demo-cta-large {
  margin: 64px 0px 120px 0px;
  & .title {
    font-size: 2rem;
  }

  & .btn {
    margin-top: -12px;
    font-size: 1.5rem;
  }
}