.demo-cta {
  text-align: center;
  margin: 48px 0px;
  & .title {
    font-weight: 300;
    font-size: 1.2rem;
    margin-right: 64px;

    @media (--viewport-sm) {
      display: block;
      text-align: center;
      margin: 0px 0px 24px 0px;
    }
  }

  & .btn {
    margin-top: -4px;
  }
}

.demo-cta.demo-cta-large {
  margin: 64px 0px;
  & .title {
    font-size: 2rem;
  }

  & .btn {
    margin-top: -12px;
    font-size: 1.5rem;
  }
}