@import "../_variables";

.info-tabs {
  & ul.nav {
    border-bottom: none;
    flex-direction: column;

    & li {
      & a.nav-link {
        color: var(--color-neptune);
        border: none;
        text-transform: uppercase;
        font-size: 1.2rem;
      }

      & a.nav-link:hover {
        border: none;
      }

      & a.nav-link.active {
        border: none;
        background-color: transparent;
        color: var(--color-white);
      }
    }
  }

  & .tab-content {
    background-color: var(--color-white);
    color: var(--color-blue-bayoux);
    padding: 36px;

    & h2 {
      font-size: 1.5rem;
      text-align: left;
      margin: 0px 0px 20px 0px;
      text-transform: uppercase;
    }
    & p, & li {
      font-size: 1.25rem;
    }
  }
}