@import "../_variables.css";


.logos-card {
  margin-bottom: -5px;
  padding-bottom: 48px;


  & h3 {
    margin: 16px 0px;
    color: var(--color-flamingo);
    text-align: center;
  }

  & .logo-grid {
    padding: 20px;
    @media(--viewport-md-up) {
      padding: 40px;
    }

    & img {
      filter: grayscale(1);
      width: 100%;
      @media(--viewport-md-up) {
        padding: 20px;
      }
    }

    & img:hover {
      transition: all .25s ease;
      filter: none;
    }
  }

  & .card-block {
    -ms-flex-positive: auto !important;
    -ms-flex-negative: auto !important;
    
    & a {
      font-size: 1.2rem;
      color: var(--color-orange-peel);
    }
  }
}