@import "../_variables.css";

.testimonial-large {
  margin-bottom: 64px;
  background: linear-gradient(160deg, var(--color-blue-oxford), var(--color-pine-green) 40%, var(--color-blue-lagoon));
  padding: 50px;
  & .logo-wrapper {
    background-color: var(--color-white);
    padding: 64px 16px;
    box-shadow: var(--standard-box-shadow);
    margin-bottom: 48px;
    border-radius: var(--border-radius);
    & img {
      width: 100%;
    }
  }

  & .short-quote {
    font-size: 1.5rem;
    margin-bottom: 36px;
  }

  & .full-quote {
    margin-bottom: 32px;
    & p {
      font-size: 1.25rem;
    }
  }

  & .person {
    font-size: 1rem;
  }
}