@import "../_variables.css";

:root {
  --testimonial-stack-logo-width: 160px;
  --testimonial-stack-logo-height: 160px;
}

.testimonial-stack {
  display: flex;
  flex-direction: row;
  @media (--viewport-md) {
    flex-direction: column;
  }
  position: relative;
  margin-bottom: 72px;
  
  /* Applies a box shadow around the complete stack */
  /* Style is applied here to adjust for the image overhang */
  & .testimonial-stack-bg {
    @media (--viewport-md) {
      display: none; /* Don't apply to container when vertically aligned */
    }

    position: absolute;
    top: var(--testimonial-stack-logo-height);
    left: 0px;
    right: 0px;
    bottom: 0px;
    box-shadow: var(--standard-box-shadow);
  }

  & .testimonial {
    flex: 1;
    position: relative;
    margin-top: var(--testimonial-stack-logo-height);
    margin-left: 2px; /* Small gap between cards */
    padding: calc(var(--testimonial-stack-logo-height) / 2 + 36px) 16px 36px 16px;
    
    background-color: var(--color-white);
    color: var(--color-blue-bayoux);
    @media (--viewport-md) {
      box-shadow: var(--standard-box-shadow); /* Apply the box shadow to individual cards when vertically aligned */
    }

    & .logo-wrapper {
      position: absolute;
      background-color: transparent;
      left: 0px;
      width: 100%;
      top: calc(0 - var(--testimonial-stack-logo-height) / 2);
      height: var(--testimonial-stack-logo-height);
    }

    & .logo-backdrop {
      position: relative;
      background-color: white;
      margin-left: auto;
      margin-right: auto;

      @media(--viewport-lg-up) {
        /* background-color: purple; */
      }
      @media(--viewport-lg) {
        /* background-color: orange; */
      }

      @media(--viewport-md) {
        /* background-color: blue; */
        margin-left: 16px;
      }
      @media (--viewport-sm) {
        /* background-color: green; */
        margin-left: 16px;
      }      
      @media (--viewport-xs) {
        /* background-color: red; */
        margin-left: 16px;
      }

      width: var(--testimonial-stack-logo-width);
      height: var(--testimonial-stack-logo-height);

      border-radius: var(--border-radius);
      box-shadow: var(--standard-box-shadow);

      & .logo {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        background-repeat: no-repeat;
        background-size: 80%;
        background-position: 50% 50%;        
      }
    }

    & .short-quote {
      color: var(--color-flamingo);
      font-size: 1.2rem;
      margin-bottom: 36px;
      font-weight: bold;
    }

    & .full-quote {
      font-size: 1.1rem;
      margin-bottom: 36px;
    }

    & .person {
      font-size: 0.75rem;
    }
  }
}