@import "../_variables";

.testimonial-carousel {
  position: relative;
  margin: 64px 0px;
  padding: 64px 12px;

  & .carousel-background {
    position: absolute;
    background-color: var(--color-black-transparent);

    top: 0px;
    bottom: 0px;

    /* TODO: This is kind of hack */
    /* Overflow is clipped by body overflow-x:hidden. Remove that if this is changed */
    width: 200vw;
    left: -100vw;
  }

  & .testimonial {
    text-align: center;

    & .quote {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    & .person {
      color: var(--color-orange-peel);
      font-size: 1.2rem;
    }
  }

  & .slick-prev {
    @media(--viewport-md-up) {
      left: 8px;
    }
  }

  & .slick-next {
    @media(--viewport-md-up) {
      right: 8px;
    }
  }
}

