@import "../_variables";

.testimonial-carousel {
  position: relative;
  margin: 0px 0px 6px 0px;
  padding: 32px 12px;
  background: linear-gradient(180deg, var(--color-blue-oxford), var(--color-pine-green) 40%, var(--color-blue-lagoon));

  & .testimonial {
    text-align: center;
    padding: 32px 20px 32px 20px;
    & .quote {
      font-size: 1.6rem;
      margin-bottom: 2rem;
      color: var(--color-white);

      & strong {
        border-bottom: 2px solid var(--color-white);
      }

      @media(--viewport-sm) {
        font-size: 1.2rem;
      }
    }

    & .person {
      color: var(--color-concrete);
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: .1rem;
    }
  }


}

