ul.tour {
  list-style-type: none;
  padding: 0px 20px;

  & li.tour-step {
    display: flex;
    flex-direction: row;
    @media (--viewport-md) {
      flex-direction: column;
    }

    margin-bottom: 120px;

    & .tour-step-body {
      flex: 1;
      padding-top: 36px;
      @media (--viewport-md-up) {
        padding-right: 48px;
      }

      & h3 {
        text-align: left;        
      }

    }

    & .tour-step-image {
      flex: 1;
      & img {
        width: 100%;
      }
    }

    & .tour-step-video-wrapper {
      flex: 1;

      & .video-background {
        position: relative;
        background-image: url("/images/video_background_mobile.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0px auto;

        /* TODO: Sizing is kind of a hack - can we make this less specific? */
        @media(--viewport-sm) {
          width: 250px;
          height: 432px;
        }


        @media(--viewport-sm-up) {
          width: 400px;
          height: 690px;
        }

        @media(--viewport-md-up) {
          width: 380px;
          height: 658px;
        }

        @media(--viewport-lg-up) {
          width: 416px;
          height: 716px;
        }

        & video {
          position: absolute;

          @media(--viewport-sm) {
            left: 41px;
            top: 82px;
            width: 168px;
          }

          @media(--viewport-sm-up) {
            left: 65px;
            top: 130px;
            width: 270px;
          }

          @media(--viewport-md-up) {
            left: 63px;
            top: 124px;
            width: 255px;
          }

          @media(--viewport-lg-up) {
            left: 68px;
            top: 136px;
            width: 280px;
          }
        }
      }

    }

  }

  & .tour-step:nth-child(even) {

    @media (--viewport-md-up) {
      flex-direction: row-reverse;
      & .tour-step-body {
        padding-right: 0px;
        padding-left: 48px;
      }
    }
  }
}