@import "../_variables";

.video-embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 64px 0px;
  border-radius: var(--border-radius);
  box-shadow: var(--standard-box-shadow);
}