<!DOCTYPE html>
<html lang="en">
  {{ partial "header.html" . }}

  <body>
    <div class='legacy-browser-fold-gradient'></div>

    <div class='site-content'>

      <div class='stripe-background-container'>
        <div class='stripe-background'>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      {{ partial "main-navbar" (dict "menu" .Site.Menus.main "page" .) }}
      <section id="main" class="container container-fluid">
        {{ .Content }}
      </section>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "body-javascript.html" . }}
  </body>
</html>